<div class="clear"></div>

<footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://facebook.com" target="_blank"><i class="social-icon fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank"> <i class="social-icon fab fa-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"> <i class="social-icon fab fa-instagram"></i></a> 
      <a href="mailto: shukla.c.ayushi@gmail.com" target="_blank"> <i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright 2023 expensia</p>
    </div>
  </footer>

</body>
</html>
