<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style/tracker.css">
    <link rel="stylesheet" href="style/footer.css">
    
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <title>Expense-Tracker</title>
</head>

<body>



    <section class="colored-section" id="title">

        <div class="container-fluid">

            <!-- Nav Bar -->

            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand heading" href="tracker">expensia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse nav-options px-5" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto nav-links">
                        <li class="nav-item">
                            <a class="nav-link" href="uploadRecipts">Upload Recipts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-2" href="list">Notes</a>
                        </li>

                       
                    </ul>

                    <form method="post" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-danger" type="submit">Logout</button>
                    </form>
                </div>
            </nav>

        </div>
    </section>