<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Expensia</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style/homeStyle.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">expensia</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="mailto: shukla.c.ayushi@gmail.com" target="_blank">Contact Us</a>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Simplest way to manage personal finances.</h1>
          <a href="login" role="button" class="download-button btn btn-lg btn-dark">Login</a>
          <a href="signup" role="button" class="download-button btn btn-lg btn-light">Sign Up</a>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="images/flogo.png" alt="iphone-mockup">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>User-friendly interface which makes it easier to use our service </p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Saving plan</h3>
          <p>Start building your savings today. Be it for your dream home or paying off your debt...easily meet all your goals with expensia.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Lorem, ipsum dolor..</h3>
          <p>We only trust the best in class technology, be ahead of the curve with us.</p>
        </div>
      </div>


    </div>
  </section>


  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">I have been using expensia for almost a year now...and I am really thankful to this service. It helps tremendously to keep track of my budget and to achive my financial goals.</h2>
          <img class="testimonial-image" src="images/face.png" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">It has helped me a lot in all ways of maintaining my expenses. This is the best user-friendly website for managing our finances. The website is developed in such a way that it has made my daily business a breeze.Thank you expensia! </h2>
          <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">Because money matters.</h3>

      <a href="login" role="button" class="download-button btn btn-lg btn-dark">Login</a>
      <a href="signup" role="button" class="download-button btn btn-lg btn-light">Sign Up</a>

    </div>
  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://facebook.com" target="_blank"><i class="social-icon fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank"> <i class="social-icon fab fa-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"> <i class="social-icon fab fa-instagram"></i></a>
      <a href="mailto: shukla.c.ayushi@gmail.com" target="_blank"> <i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright 2022 Expense Tracker</p>
    </div>
  </footer>


</body>

</html>